<div class='bookings-index'>
  <h3>Your Bookings</h3>

  <ul class="list">
    <% @bookings.each do |booking| %>
      <% if booking.event.start_time < Time.current && booking.review.present? == true %>
        <li class="list-item"><%= booking.event.event_name %><br><%= booking.event.start_time.strftime("%d %b %Y %I:%M %P") %>
        <div><%= link_to 'See your review', review_path(booking.review) %></div></li>
      <% elsif booking.event.start_time < Time.current && booking.review.present? == false %>
        <li class="list-item"><%= booking.event.event_name %><br>
        <%= booking.event.start_time.strftime("%d %b %Y %I:%M %P") %>
        <div><%= link_to 'Write a review', new_booking_review_path(booking) %></div></li>
      <% else %>
        <li class="list-item"><%= booking.event.event_name %><br>
        <%= booking.event.start_time.strftime("%d %b %Y %I:%M %P") %></li>
      <% end %>
    <% end %>
  </ul>
</div>
