
<div class="form-inputs">
  <%= simple_form_for [ @event, @booking ] do |f| %>
    <%= f.label :tickets %>
    <%= f.number_field :ticket_amount %>
    <%= f.submit "Create booking", class: "btn btn-primary" %>
  <%= end %>
</div>
