<h1>Booking#new</h1>
<p>Find me in app/views/booking/new.html.erb</p>

<%= simple_form_for [ @booking ] do |f| %>
   <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.label :date %>
  <%= f.text_field :date %>
  <%= f.label :guests %>
  <%= f.number_field :number_of_guests %>
  <%= f.submit "Create booking", class: "btn btn-primary" %>
<% end %>
