<div class="container">
  <div><%= image_tag "#{current_user.picture_url}", id: "avatar-center" %>
  </div>
  <div>
    <br>
    <%= link_to "⭐️⭐️⭐️⭐️⭐️", user_path %><br>
    <%= link_to "✎ Edit Profile", edit_user_registration_path %><br>
    <%= link_to "⫸ Sign Out", destroy_user_session_path %><br>
  </div>
  <div>
    <ul class="list">
      <% current_user.reviews.each do |review| %>
        <li class="list-item">
        <div class="list-content"><%= review.booking.event.event_name %><br>
          <%= review.booking.event.start_time.strftime('%d %b %Y') %> |
          <%= review.booking.event.user.first_name %></div>
        <p>_________________________</p>
        <%= review.content %></li>
      <% end %>
    </ul>
  </div>
</div>
