<div class="container">

  <h1>Users#show</h1>
    <%= image_tag "#{current_user.picture_url}", id: "avatar-center" %>
    <div>
      <%= link_to "✎ Edit Profile", edit_user_registration_path %><br>
      <%= link_to "⫸ Sign Out", destroy_user_session_path %><br>


    </div>
  <div>
    <ul class="list">
      <% current_user.reviews.each do |review| %>
        <li class="list-item">
        <%= review.booking.event.start_time.strftime('%Y/%m/%d') %>
        <%= review.booking.event.event_name %><br>
        <%= review.content %></li>
      <% end %>
    </ul>
  </div>
</div>
