 <% if @event.favourites.exists?(user_id: current_user.id, event_id: @event.id) %>
  <%= link_to 'Favourite', favourite_path(event_id: params[:id], user_id: current_user.id), method: :delete, remote: true, class:"like-btn" %>
  <span class="star-count2"><%= @event.favourites.count %></span>
 <% else %>
  <%= form_for(@favourite) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :event_id, value: @event.id %>
  <%= f.submit %>
  <% end %>
  <span class="star-count1"><%= @event.favourites.count %></span>
<% end %>