<div class="navbar navbar-expand-sm navbar-lewagon">
  <div class="top-navbar">
    <%= link_to url_for(root_path), class: "navbar-brand" do %>
      <% image_tag "enigma-official-logo.png" %>
    <% end %>
  </div>

  <div class="collapse navbar-collapse d-block" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto col-sm-12 col-bg-6">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to events_path do %>
            <i class="fas fa-home fa-2x"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to bookings_path do %>
            <i class="fas fa-ticket-alt fa-2x"></i>
          <% end %>
        </li>
        <li class="nav-item">
          <%# <div class="btn-navbar"> %>
            <%= link_to favourites_path do %>
              <i class="fas fa-heart fa-2x"></i>
            <% end %>
          <%# </div> %>
        </li>
        <li class="nav-item">
          <%= link_to current_user do %>
             <i class="fas fa-user fa-2x"></i>
          <% end %>
        </li>

        <%# <li class="nav-item dropdown"> %>
        <%# <div class="profile-image"> %>
          <%# <%= image_tag "#{current_user.picture_url}", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <%# </div> %>
          <%# <div class="menu" aria-labelledby="navbarDropdown"> %>
            <%# <%= link_to "Action", "#", class: "dropdown-item" %>
            <%# <%= link_to "Favourites", favourites_path(@favourites), class: "dropdown-item" %>
            <%# <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="login">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="signup">
          <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
