<div class="container events-index-container">
  <div class="justify-content-center">
    <div class="gradient-image">
      <%= image_tag asset_path('gradient-background.png') %>
    </div>

    <br>
    <%= render "search_form_two" %>

    <% if @events.any? %>
      <% @events.each do |event| %>
        <div class='entire-card' id="star-<%=event.id%>">
          <div class="card-trip">
            <%= image_tag "#{event.image_url}" %>
              <div class="card-trip-infos">
                <h4 class="card-trip-pricing">£<%= event.price %></h4>
                <h4 class="card-trip-date"><%= event.start_time.strftime("%d %b %Y %I:%M %P") %></h4>
                <div class="writing-card">
                  <h6><%= link_to "#{event.event_name}", event_path(event) %></h6>
                  <div class="card-trip-user">
                      <% if event.favourites.exists?(user_id: current_user.id, event_id: event.id, id: event.favourites.ids) %>
                        <%= link_to favourite_path(event_id: event.id, user_id: current_user.id, id: event.favourites.ids, from: "index"), method: :delete, remote: true, class:"like-btn" do %>
                        <i class="fas fa-heart fa-2x" id="star-on" ></i>
                        <% end %>
                      <% else %>
                        <%= link_to favourite_path(event_id: event.id, user_id: current_user.id, id: event.favourites.ids, from: "index"), method: :post, remote: true, class:"like-btn" do %>
                        <i class="fas fa-heart fa-2x" id="star-off" ></i>
                        <% end %>
                      <% end %>
                  </div>
                </div>
              </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
