<% content_for :meta_title, "#{@event.event_name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @event.event_descritpion %>
<% content_for :meta_image, asset_path(@event.image_url) if @event.image_url %>


<div class="container">
  <div class="event-context">
    <h4><%= @event.event_name.truncate(35, separator: ' ') %></h4>
    <p><%= @event.event_descritpion.truncate(120, separator: ' ') %></p>
    <p>£ <%= @event.price %></p>

    <p>This is an event organized by <%= @event.user.first_name%><br>
    <p> See their <%= link_to "#{@event.user.reviews.size} #{@event.user.reviews.size == 1 ? "review" : "reviews"}", review_path(@event.user)%> here<br></p>
    <div>
      <%= link_to 'BOOK NOW', new_event_booking_path(@event), class:'btn btn-primary'%>
    </div>
  </div>
  <br>
  <div id="map"
    style="width: 100%; height: 320px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
