<div class="container">
  <h3>Review for <%= @user.first_name %> review show page</h3>

  <ul class="list">
    <% @user.reviews.each do |review| %>
      <li class="list-item">
      <%= image_tag review.booking.user.picture_url, class: "avatar" %>
        <%# <div class="list-content"> %>
          <p><%= review.content %></p>
          <%= review.booking.user.first_name %>
        <%# </div> %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Back', events_path %>
</div>
