<div class="container">
  <h3>Review for <%= @review.booking.event.user.first_name %> review show page</h3>

  <ul class="list">
      <li class="list-item">
      <%= image_tag @review.user.picture_url, class: "avatar" %>
        <%# <div class="list-content"> %>
          <p><%= @review.content %></p>
          <%= @review.user.first_name %>
        <%# </div> %>
      </li>
  </ul>
  <%= link_to 'Back', events_path %>
</div>
